<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Собака для тебя 🐶</title>
    <style>
        .center-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #000000;
            font-size: 48px;
            font-weight: bold;
            text-align: center;
            text-shadow: 0 4px 20px rgba(0,0,0,0.6);
        }
    </style>
</head>
<body>
<div class="center-text">
    <h1>Твоя персональная собака</h1>
</div>
<img src="{{.ImageURL}}" alt="dog" style="max-width: 500px">

</body>
</html>